.GoogleDirections {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  right: -10px;
  bottom: 0;
}
.mappedDirectionCompany {
  position: relative;
  margin: 0 0 0 170px;
  width: 260px;
  right: 100px;
}
.jobs {
  text-align: center;
}
.companys-in-map {
  margin-bottom: 45px;
}
.maptitle {
  text-align: center;
}
