.extra-info-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border-radius: 55px;
  width: 70vw;
  height: 60vh;
  border: 2px solid #0d47a1;
  background: #1976d2b0;
  margin: 10% auto;
}
.add-info {
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-content: space-between; */
  align-items: center;
  margin: auto;
  width: 65%;
  height: 93%;
  border: 2px solid #0d47a1;
  background: #64b4f6b0;
}
.add-info > h2 {
  color: #07306e;
}
.explain-why {
  background: #64b4f6b0;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 3% 2% 3% 2%;
  height: 93%;
  margin: auto;
  width: 27%;
  border: 2px solid #0d47a1;
}
.explain-why > h4 {
  color: #07306e;
  font-weight: 500;
  font-size: 17px;
  white-space: nowrap;
  line-height: 1px;
  margin: 0 0 -5% 0;
}
.explain-why > h6 {
  color: #333;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  margin: 0;
}
.profile {
  position: relative;
  /* border: 2px solid black; */
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profile-image {
  position: absolute;
  top: 1%;
  left: 20%;
  border-radius: 50%;
  border: 3px solid #333;
  background: black;
}
.profile-image:hover {
  opacity: 0.9;
}
.profile_name {
  color: #0d47a1;
  /* position: absolute; */
  top: 42%;
  left: 28%;
}
.info-holder {
  display: flex;
  padding: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 10px;
  width: 35vw;
  left: 15%;
  border-radius: 15px;
  height: 50vh;
  background-color: #42a5f5;
  border: 2px solid#0d47a1;
}
.info-holder > h4 {
  font-size: 20px;
  color: #bbdefb;
}
.mapped-emails {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #0d47a1;
  background: rgb(100, 181, 246, 0.5);
  height: 97vh;
  width: 33vw;
  position: absolute;
  right: 0.6%;
}
.mapped-emails > h4 {
  color: #0d47a1;
  border-bottom: solid 2px #0d47a1;
  display: inline;
  padding-bottom: 3px;
}
.email-contents-div {
  /* animation: 3s email; */
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  padding: 2%;
  width: 95%;
  height: 8%;
  border-radius: 15px;
  /* border-radius: 15px; */
  border: 2px solid #0d47a1;
  background: rgb(66, 165, 245, 0.5);
}
.email-contents-div > h5 {
  color: #0d47a1;
  position: absolute;
  bottom: 0.2%;
  left: 7%;
}
.x {
  animation: 1s emails;
  position: absolute;
  top: -3%;
  left: -1%;
}
.no-notifications {
  font-weight: 900;
  color: #0d47a1;
  font-size: 16px;
}
@keyframes email {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
