.extra-info-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border-radius: 55px;
  width: 70vw;
  height: 60vh;
  border: 2px solid #0d47a1;
  background: #1976d2b0;
  margin: 10% auto;
}
.add-info {
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-content: space-between; */
  align-items: center;
  margin: auto;
  width: 65%;
  height: 93%;
  border: 2px solid #0d47a1;
  background: #64b4f6b0;
}
.add-info > h2 {
  color: #07306e;
  white-space: nowrap;
}
.explain-why {
  background: #64b4f6b0;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 3% 2% 3% 2%;
  height: 93%;
  margin: auto;
  width: 27%;
  border: 2px solid #0d47a1;
}
.explain-why > h4 {
  color: #07306e;
  font-weight: 500;
  font-size: 80%;
  /* white-space: nowrap; */
  /* line-height: 1px; */
  margin: 0 0 -5% 0;
}
.explain-why > h6 {
  color: #333;
  font-weight: 300;
  font-size: 80%;
  line-height: 100%;
  margin: 0;
}
.sumbitvalsbutton {
  margin-top: 2%;
}
.profile {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-image-holder {
  display: flex;
  position: absolute;
  background: rgba(0, 0, 0, 0.384);
  width: 97%;
  margin: auto;
  height: 50%;
  top: 1.5%;
  border-radius: 15px;
  border: 2px solid black;
}
.profile-image-holder:hover {
  background: rgba(0, 0, 0, 0.329);
}
.image {
  border-radius: 50%;
  background: #999;
  width: 50%;
  position: relative;
  margin: -21% auto 0 auto;
}
.profile-image {
  display: flex;
  width: 100%;
  position: relative;
  background-color: black;
  bottom: -10%;
  position: relative;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #333;
  background: black;
}
.profile-image:hover {
  opacity: 0.9;
}
.profile_name {
  margin: auto;
  color: #0d47a1;
  /* position: absolute; */
  top: 42%;
  left: 28%;
}
.info-holder {
  display: flex;
  position: relative;
  padding: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 62vw;
  left: -14.5%;
  border-radius: 15px;
  height: 98vh;
  background-color: #42a5f5;
  border: 2px solid#0d47a1;
}
.info-holder > h4 {
  font-size: 20px;
  color: #bbdefb;
}
.mapped-emails {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 97vh;
  width: 32vw;
  position: absolute;
  right: 0.6%;
}
.whatsNew {
  padding-top: 2%;
}
.whatsNew > h4 {
  color: #0d47a1;
  border-bottom: solid 2px #0d47a1;
  display: inline;
  padding-bottom: 3px;
}
.email-contents-div {
  /* animation: 3s email; */
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 3% 0 0 0;
  padding: 2%;
  width: 33vw;
  height: 10vh;
  border-radius: 15px;
  /* border-radius: 15px; */
  border: 2px solid #0d47a1;
  background: rgb(66, 165, 245, 0.5);
}
.email-contents-div > h5 {
  color: #0d47a1;
  position: absolute;
  bottom: 0.2%;
  left: 10%;
}
.x {
  animation: 1s emails;
  position: absolute;
  top: -3%;
  left: -1%;
}

.no-notifications {
  font-weight: 900;
  color: #0d47a1;
  font-size: 16px;
}
.personal-info {
  line-height: 0%;
  display: flex;
  padding: 2% 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  position: relative;
  bottom: -1%;
  width: 40%;
  height: 55%;
  margin: 0 auto 0 auto;
  background: rgba(199, 227, 247, 0.534);
}
.update-profile-cancel-update {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 96%;
}
@media (max-width: 1255px) {
  /*

ADDING EXTRA INFO MEDIA QUERY

  */
  .extra-info-holder {
    flex-direction: column;
    height: 100vh;
    margin-top: 2%;
  }
  .explain-why {
    height: 57%;
    width: 60%;
  }
  .add-info,
  .explain-why {
    margin-top: 2%;
    width: 94%;
  }
  .add-info {
    height: 65%;
    padding-bottom: 2%;
  }
  .explain-why {
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .explain-why > h4 {
    margin: 0 0 -2.7% 0;
  }

  /*
  
  Media QUERY FOR USRES PROFILE
  
  */
  .info-holder {
    left: -14%;
  }
}
@media (max-width: 1150px) {
  .profile-image-holder {
    height: 40%;
  }
  .image {
    margin-top: -40%;
  }
  .info-holder {
    height: 85vh;
    top: -6.5%;
    left: -16%;
  }
  .mapped-emails {
    margin-top: -1%;
  }
  .email-contents-div > h5 {
    padding-right: 5%;
  }
}
@media (max-width: 1003px) {
  .profile {
    flex-direction: column;
  }
  .mapped-emails {
    width: 90%;
    /* margin-left: 33%; */
    justify-content: space-around;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 110%; */
    /* padding: 12%; */
    /* width: 100vw; */
  }
  .email-contents-div {
    width: 35%;
    padding: 5%;
  }
  .info-holder {
    margin: auto;
    left: 0;
    top: 2%;
    height: 700%;
    width: 95%;
    margin-bottom: 7%;
  }
  .image {
    width: 40%;
    top: 40px;
  }
  .whatsNew {
    position: absolute;
    top: -50%;
    /* margin-left: 37%; */
  }
  .profile-image {
  }
}
@media (max-width: 836px) {
  .whatsNew {
    margin-top: 2%;
  }
  .email-contents-div {
  }
}
@media (max-width: 720px) {
  .whatsNew {
    margin-top: 7%;
  }
  .info-holder {
    height: 500%;
  }
}
@media (max-width: 650px) {
  .explain-why {
    padding-left: 7%;
    margin-top: 4%;
  }
  .extra-info-holder {
    width: 97vw;
    margin-bottom: 2.5%;
  }
  .email-contents-div {
    width: 50%;
  }
}
@media (max-width: 613px) {
  .email-contents-div {
  }
  .whatsNew {
    margin-top: 8%;
  }
}
@media (max-width: 570px) {
  .whatsNew > h4 {
    font-size: 13px;
  }
  .whatsNew {
    margin-top: 10%;
  }
}
@media (max-width: 510px) {
  .image {
    width: 50%;
    top: 20px;
  }
  .whatsNew {
    margin-top: 11%;
  }
}
@media (max-width: 480px) {
  .extra-info-holder {
    height: 120vh;
  }
  .sumbitvalsbutton {
    margin-top: 15%;
    margin-bottom: 5%;
  }
  .explain-why {
    padding-left: 10%;
    padding-right: 10%;
  }
  .add-info > h2 {
    font-size: 20px;
  }
  .whatsNew {
    margin-top: 11.5%;
  }
}
@media (max-width: 450px) {
  .mapped-emails {
    height: 100%;
    margin-top: 30%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .email-contents-div {
    padding-top: 10%;
    width: 90vw;
  }
  .whatsNew {
    margin-top: -18%;
  }
}
@media (max-width: 430px) {
  .info-holder {
    height: 200%;
  }
  .whatsNew {
    margin-top: -2%;
  }
}
@media (max-width: 375px) {
  .whatsNew {
    margin-top: 1%;
  }
}
@media (max-width: 355px) {
  .whatsNew {
    margin-top: 2%;
  }
}
@media (max-width: 350px) {
  .whatsNew {
    margin-top: 3%;
  }
}
@media (max-width: 335px) {
  .whatsNew {
    margin-top: 4%;
  }
}
@media (max-width: 320px) {
  .whatsNew {
    margin-top: 6%;
  }
}
@keyframes email {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
